/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	background: get-color(dark);
	padding: 5rem 0 4rem;
}

.text-small {
	font-size: $small-font-size;
}

.footer-item .footer-link {
	color: get-color(light);
	font-family: $header-font-family;
	margin-bottom: 0;
}

.footer-menu-link a {
	padding: 0.7rem 0 !important;
}

.footer-link {
	color: get-color(light);
	margin-bottom: 0;
	&:hover {
		color: get-color(secondary);
		margin-bottom: 0;
	}
}


.menu.vertical.arrow li a:after {
	content: "";
	background-image: url(../../images/util/arrow-right.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 10px;
	height: 10px;
	right: -7px;
	position: relative;
	display: inline-block;
}

.gt_float_switcher .gt-selected .gt-current-lang span.gt-lang-code {
	font-size: 0.85rem;
	font-family: 'THICCCBOI-MEDIUM', THICCCBOI, Arial, sans-serif;
}

.gt_float_switcher .gt_options a {
	font-size: 0.85rem;
	font-family: 'THICCCBOI-MEDIUM', THICCCBOI, Arial, sans-serif;
}

 .gt_float_switcher img {
	 width: 25px !important;
	 height: auto;
 }

.gt_float_switcher .gt-selected .gt-current-lang {
	padding: 7.5px !important;
}